.input_bg_color .dropdown_bgcolor div, .input_bg_color .dropdown_bgcolor button{
    background-color: transparent !important;
}

.input_bg_color div input{
    background-color: transparent !important; 
}

.input_bg_color .bgcolor_hide div{
    background-color: transparent !important; 
}
.w-100{
    width:100%;
}